[submodule "submodules/eccelerators-docbook"]
	path = submodules/eccelerators-docbook
	url = https://github.com/eccelerators/eccelerators-docbook.git
[submodule "submodules/sphinx-template"]
	path = submodules/sphinx-template
	url = https://github.com/eccelerators/sphinx-template.git
[submodule "submodules/usual-objects"]
	path = submodules/usual-objects
	url = https://github.com/eccelerators/usual-objects.git
[submodule "submodules/sphinx_docbook"]
	path = submodules/sphinx_docbook
	url = https://github.com/eccelerators/sphinx_docbook.git
[submodule "submodules/vhdl-eccelerators-basic-package"]
	path = submodules/vhdl-eccelerators-basic-package
	url = https://github.com/eccelerators/vhdl-eccelerators-basic-package.git
