[submodule "submodules/eccelerators-docbook"]
	path = submodules/eccelerators-docbook
	url = git@github.com:eccelerators/eccelerators-docbook.git
[submodule "submodules/sphinx-template"]
	path = submodules/sphinx-template
	url = git@github.com:eccelerators/sphinx-template.git
[submodule "submodules/usual-objects"]
	path = submodules/usual-objects
	url = git@github.com:eccelerators/usual-objects.git
[submodule "submodules/sphinx_docbook"]
	path = submodules/sphinx_docbook
	url = git@github.com:eccelerators/sphinx_docbook.git
